.collapse-title {
  height: 34px;
  width: auto;
  background-color: #ff6060;
  color: white;
  padding: 10px 20px 10px 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
}
.chevron {
  color: black;
  position: absolute;
  right: 20px;
  top: 15px;
  color: white;
}
.svg-inline--fa {
  height: 1.5em;
}
.text-collapse {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
  text-align: left;
}

.text-collapse-container {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  margin-top: -19.92px;
}

.collapse {
  width: 100%;
}
.collapse-header {
  position: relative;
}

p {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

li {
  list-style-type: none;
  text-align: left;
  line-height: normal;
}
ul {
  padding-inline-start: 10px;
  margin-block-end: 5px;
  margin-block-start: 5px;
}

#text {
  width: 100%;
}

@media (max-width: 425px) {
  .collapse-container {
    margin: 0 20px 0 20px;
    height: 10px;
  }
  .collapse-title {
    height: 10px;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 18.54px;
    text-align: left;
  }
  .chevron {
    right: 11px;
    top: 7px;
  }
  .collapse-content {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.11px;
    text-align: left;
    padding-top: 5px;
  }
}
